<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %> <br><br>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em> <br><br>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="labeltd">Title </td>
                <td class="detail"><%= @movie.title %></td>
              </tr>
              <tr>
                <td class="labeltd">Description </td>
                <td class="detail"><%= @movie.description %></td>
              </tr>
              <tr>
                <td class="labeltd">Length </td>
                <td class="detail"><%= @movie.length%></td>
              </tr>
              <tr>
                <td class="labeltd">Director </td>
                <td class="detail"><%= @movie.director %></td>
              </tr>
              <tr>
                <td class="labeltd">Rating </td>
                <td class="detail"><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_movie_review_path(@movie) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
