/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	// background: #AA4847;
	background: #ca8281;
}

.navbar-brand {
	font-size: 22px;
}

.header_text{
	font-size: 14px;
}

.labeltd {
	// color: #8A8A8A;
	color: #666666;
	font-size: 18px;
}

.review_title {
	margin: 0 0 20px 0;
}

.detail{
	color: #999999	;
	font-size: 16px;
}

.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}
